:root {
  --yellow50: #FFF9EC;
  --yellow-80\%: #FFF9ECCC;
  --yellow100: #FFF0C9;
  --yellow-50\%: #FFF9EC80;
  --yellow-20\%: #FFF9EC33;
  --yellow200: #FDE3A8;
  --yellow300: #FBD38A;
  --shadow1: #3E342A26;
  --yellow400: #F4C878;
  --mask1: #3E342A80;
  --shadow2: #46594F26;
  --yellow500: #E8B966;
  --yellow600: #C99845;
  --mask2: #46594F80;
  --background7: #F4F7F5;
  --background6: #E7EEE9;
  --background5: #CBD8CF;
  --background4: #A8BCAE;
  --background3: #7F9D8B;
  --background2: #5F7468;
  --background1: #46594F;
  --neutral-0: #FFF;
  --neutral-50: #FFF9F0;
  --neutral-100: #F5EFE7;
  --neutral-200: #EDE5DA;
  --neutral-400: #A79B90;
  --neutral-600: #74695F;
  --neutral-800: #3E342A;
  --error: #AC1616;
  --errorpress: #8A1212;
  --warn: #F6BC89;
}

